<!DOCTYPE html>
<html>
<head>
<!--   <link type="text/css" rel="stylesheet" href="/static/main.css" /> -->
  <link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="/static/bootstrap-theme.css">

  <title>Life of Mathematician Blog</title>
</head>

<body>
  <div class="container">
    <div class="navbar">
      <a href="/blog" class="navbar-brand">
        Life of a Mathematician
      </a>

      <div class="login-area">
        {% if user %}
          {{user.name}} (<a class="login-link" href="/logout">logout</a>)
        {% else %}
          <a class="login-link" href="/login">login</a>
          |
          <a class="login-link" href="/signup">signup</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="container">
    <div id="content">
    {% block content %}
    {% endblock %}
    </div>
  </div>
</body>

</html>

