
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>{{c.commenter_name.title()}}
            <small>{{c.created.strftime("%b %d, %Y")}}</small>
            </h4>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            {{c._render_text | safe}}
        </div>
        <div class="new-post-button col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <a href={{ "/blog/edit_comment/" ~ c.key().id() }}>
            <button class="edit">Edit/Delete</button>
          </a>
          <!-- <a href={{ "/blog/delete_post/" ~ c.key().id() }}>
            <button class="delete">Delete</button> -->
          </a>
        </div>
    </div>
