<!DOCTYPE html>

<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/form.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <h2>Login</h2>
    <form method="post">
      <div class="container">
          <label><b>Username</b></label>
          <input type="text" name="username" value="{{username}}" placeholder="Enter Username" required>
            <div class="row error">
              {{error_username}}
            </div>
          <label><b>Password</b></label>
          <input type="password" name="password" value="" placeholder="Enter Password" required>
            <div class="row error">
              {{error_password}}
            </div>
        <button type="submit">Login</button>
      </div>
    </form>
  </body>
</html>